# =========================
# Frontend / Node
# =========================
node_modules
dist
/build

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/

# =========================
# Poetry / Virtualenv
# =========================
.poetry/
.venv/

# =========================
# Environment
# =========================
.env
.env.local

# =========================
# Editor / IDE
# =========================
.vscode

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Database / Migrations
# =========================
/migrations/*.sql

# =========================
# Artifacts
# =========================
*.zip
*.log
